# Build / generated
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.metadata



# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
